.reminder {
    margin-top: 57px;
    padding: 15px;
}

.reminder-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 15px;
}

.reminder-content {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    height: 120px;
    box-shadow: 1px 1px 5px rgb(1 1 1 / 10%);
}

.reminder-box {
    margin-bottom: 25px;
}

.bottom {
    margin-bottom: 10px;
    h2 {
        color: #578ebe;
        padding-bottom: 12px;
    }

    div {
        span {
            padding: 10px;
            min-width: 130px;
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 700;
        }

        select {
            margin: auto 10px;
            width: 200px;
        }
    }
}


.reminder-view {
    font-size: 1.3rem;
    font-weight: 700;
}


@media only screen and (max-width: 1024px) {
    .reminder {
        padding: 0;
    }
    .reminder-container {
        grid-template-columns: 1fr;
        margin-bottom: 15px;
    }
    .reminder-content {
        height: 100%;
    }
}