.popup {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 2003;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;

   .popup-table__content {
      position: absolute;
      padding: 20px;
      margin: 40px;
      background-color: #ffffff;
      border-radius: 7px;
      width: 80%;
      min-height: 60%;
      max-height: 80%;
      overflow-y: auto;
      animation: popup linear 0.2s;
      z-index: 1;

      &::-webkit-scrollbar {
         width: 7px;
      }

      &::-webkit-scrollbar-thumb {
         background-color: lightgrey;
         border-radius: 7px;
      }

      .popup-title {
         color: #0c6fbe;
         h3 {
            position: relative;
            margin: 10px 0;
            padding: 0 10px;
            font-size: 1.6rem;
            font-weight: 700;
            width: 80%;
            text-align: left;
            &::before {
               position: absolute;
               content: "";
               width: 3px;
               height: 100%;
               background-color: #eb2e51;
               left: 0;
               border-radius: 3px;
            }
         }
      }

      .popup-table {
         text-align: center;
         overflow-y: auto;
         margin-bottom: 20px;
         table {
            width: 100%;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            white-space: nowrap;

            thead {
               background-color: #f3f7f9;
               border-bottom: 2px solid #ddd;

               tr {
                  th {
                     color: #1da1f2;
                     font-size: 1.5rem;
                     font-weight: 700;
                     padding: 16px 5px;
                     border: 1px solid #ddd;
                  }
               }
            }

            tbody {
               tr {
                  td {
                     position: relative;
                     font-size: 1.4rem;
                     padding: 5px;
                     border: 1px solid #ddd;
                  }
               }
            }
         }
      }

      button {
         position: absolute;
         margin: 0;
         top: 0;
         right: 0;
         border-top-left-radius: 0;
         border-bottom-right-radius: 0;
         background-color: #eb2e51;
         &:hover {
            background-color: #cb2746;
            color: white;
         }
      }
   }

   button {
      padding: 8px 16px;
      margin-top: 10px;
      font-size: 1.5rem;
      border: none;
      background-color: #1da1f2;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s linear;
      border-radius: 6px;

      &:hover {
         background-color: #ddd;
         color: #1da1f2;
      }
   }

   .popup-form {
      position: absolute;
      padding: 40px;
      margin: 40px;
      background-color: #ffffff;
      border-radius: 7px;
      width: 40%;
      min-height: 60%;
      animation: popup linear 0.2s;
      z-index: 1;

      form {
         .form-gr {
            margin-bottom: 20px;
            label {
               display: block;
               text-align: left;
               font-size: 1.4rem;
               margin-bottom: 5px;
               span {
                  color: red;
                  font-weight: 700;
               }
            }

            input {
               display: block;
               padding: 10px 12px;
               width: 100%;
               outline: none;
               border: 1px solid #ddd;
               transition: all .3s linear;
               &:focus {
                  border: 1px solid #1da1f2;
               }
            }
         }

         .actions {
            position: relative;
            button {
               background-color: #1da1f2;
               border-radius: 4px;
               &:hover {
                  background-color: #ddd;
                  color: #1da1f2;
               }
            }
         }
      }

      button {
         position: absolute;
         margin: 0;
         top: 0;
         right: 0;
         border-top-left-radius: 0;
         border-bottom-right-radius: 0;
         background-color: #eb2e51;
         &:hover {
            background-color: #cb2746;
            color: white;
         }
      }
   }
}

.popup-content {
   position: absolute;
   padding: 20px;
   margin: 40px;
   background-color: #ffffff;
   border-radius: 7px;
   width: 50%;
   animation: popup linear 0.2s;
   z-index: 1;
   img {
      padding: 10px;
      margin: 0 auto;
      width: 50%;
      display: block;
      object-fit: center;
   }
}

.popup-text {
   font-size: 1.8rem;
   min-height: 80px;
}

.popup-background {
   width: 100%;
   height: 100vh;
   background-color: rgba(1, 1, 1, 0.7);
   animation: popup-background linear 0.2s;
   z-index: -1;
}

@media only screen and (max-width: 900px) {
   .popup-content {
      width: 70%;
   }

   .popup-form {
      width: 60% !important;
      padding: 30px !important;
   }
}

@media only screen and (max-width: 600px) {
   .popup-text {
      font-size: 1.55rem;
   }

   .popup-content {
      width: 90%;
   }

   .popup-form {
      width: 80% !important;
   }
}

@media only screen and (max-width: 350px) {
   .popup-text {
      font-size: 1.3rem;
   }

   .popup-content {
      padding: 10px;
      button {
         padding: 6px 12px;
         font-size: 1.3rem;
      }
   }
}

@keyframes popup {
   0% {
      transform: scale(0.7);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes popup-background {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
