.new-event {
   margin-top: 57px;
   padding: 15px;

   .event-container {
      display: grid;
      gap: 15px;
      grid-template-columns: 1fr 1fr;

      .note {
         font-size: 1.4rem;
         font-weight: 700;
         span {
            color: red;
         }
      }
   }

   .event-box {
      background-color: white;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 7px;
      box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.1);

      .event-title {
         h3 {
            color: #37b4e1;
            font-weight: 700;
            font-size: 1.5rem;
            padding: 10px 15px;
            border-bottom: 1px solid #37b4e1;
         }
      }

      .event-content {
         margin-top: 10px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 10px;

         .event-item {
            a {
               img {
                  width: 100%;
                  border: 1px solid #ddd;
                  object-fit: scale-down;
               }
               .item-title {
                  margin-top: 5px;
                  color: #111;
                  font-size: 1.4rem;
                  font-weight: 700;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  height: 65px;
                  text-decoration: none;
                  transition: color 0.3s linear;
               }
            }
            span {
               color: #e6002b;
            }
            &:hover {
               .item-title {
                  color: #1da1f2;
               }
            }
         }
      }

      .blog-list {
         margin-top: 15px;
         li {
            font-weight: 700;
            margin-bottom: 5px;

            img {
               margin-right: 5px;
            }

            a {
               transition: color 0.3s linear;

               &:hover {
                  color: #1da1f2;
               }
            }
         }
      }

      .event-footer {
         text-align: right;
         margin-bottom: 10px;
         a {
            bottom: 0;
            right: 0;
            padding: 10px;
            font-size: 1.4rem;
            font-weight: 700;
            color: #37b4e1;
            transition: all .1s linear;
            i {
               margin-left: 5px;
            }

            &:hover {
               color: #32a1c9;
            }
         }
      }
   }
}

@media only screen and (max-width: 992px) {
   .new-event {
      .event-container {
         grid-template-columns: 1fr;
      }

      .event-box {
         height: 100% !important;
      }
   }
}
