.weekly-progress {
    margin-top: 57px;
    padding: 15px;
    display: block;

    .progress-container {
        transition: all 0.3s ease-out;
    }

    .progress-content {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 5px rgb(1 1 1 / 10%);
    }

    .radio {
        padding-top: 5px;
        font-size: 1.5rem;
        label {
            display: inline-block;
            cursor: pointer;
            margin-right: 10px;
            input {
                width: 20px;
                transform: translateY(20%);
                cursor: pointer;
            }
        }
    }

    .select {
        margin-right: 4px;
    }

    .button {
        button {
            font-size: 1.3rem;
            line-height: 1.5rem;
            padding: 8px 6px;
            i {
                font-size: 1.2rem;
                margin: 0 4px;
            }
        }
    }

    .progress-table {
        margin-top: 10px;
        overflow-x: auto;
        text-align: center;
    }

    table {
        border: 1px solid #ddd;
        margin-bottom: 15px;
        width: 100%;

        thead {
            white-space: nowrap;
            background: #f3f7f9;
            border-bottom: 2px solid #cad6d8;
            color: #1da1f2;

            tr {
                th {
                    vertical-align: middle;
                    padding: 16px 5px;
                    border: 1px solid #ddd;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 5px;
                    border: 1px solid #ddd;
                    font-size: 1.4rem;

                    &:nth-child(6) {
                        width: 7%;
                        white-space: nowrap;
                    }
                }

                &:nth-child(4n-1) {
                    background-color: #fdff9a;
                }
            }
        }
    }

    .text-left {
        text-align: left;
    }

    .bgy {
        background-color: #fdff9a !important;
    }

    .bgw {
        background-color: white !important;
    }

    .progress-note {
        margin: 5px 0 20px;
        ul {
            display: flex;
            li {
                margin-right: 15px;

                span {
                    display: inline-block;
                    width: 40px;
                    height: 15px;
                    border: 1px solid #ccc;
                    margin-right: 10px;
                    vertical-align: text-top;
                }
                &:last-child {
                    span {
                        background-color: #fdff9a;
                    }
                }
            }
        }
    }
}

@media print {
    @page {
        size: A3 landscape;
    }


        .progress-table {
            width: min-content;
            margin-top: 10px;
            overflow-x: auto;
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .bgy {
            background-color: #fdff9a !important;
        }

        .bgw {
            background-color: white !important;
        }

        .progress-note {
            margin: 5px 0 20px;
            ul {
                display: flex;
                li {
                    margin-right: 15px;

                    span {
                        display: inline-block;
                        width: 40px;
                        height: 15px;
                        border: 1px solid #ccc;
                        margin-right: 10px;
                        vertical-align: text-top;
                    }
                    &:last-child {
                        span {
                            background-color: #fdff9a;
                        }
                    }
                }
            }
        }
}
